{% extends 'tgreen/main.html' %}

{% block content %}

<main class="form-signin w-100 m-auto">
  {% for message in messages %}
    <div class="alert alert-danger" role="alert">
  <p id="messages">{{ message }}</p>
  </div>
    {% endfor %}
<h1 class="h3 mb-3 fw-normal">Please sign up</h1>
  <form method="POST" action="">

    {% csrf_token %}


<div class="form-group">
		{{form.username.label}}
      	{{ form.username }}
    </div>
    

    <div class="form-group">

    	{{form.email.label}}
    	{{ form.email }}
      
    </div>

    <div class="field">
      <label for="" class="label">Password</label>
      <div class="control has-icons-left">
        <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
        {{ form.password1 }}
      </div>

    <div class="field">
    	<label for="" class="label">Confirm Password</label>
      <div class="control has-icons-left">
        <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
        {{ form.password2 }}
      </div>
    	
      <p>kembali...<a href="{% url 'login' %}">login</a></p>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
    
  </form>
</main>

{% endblock %}